<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.fau.mad.quickshop_android" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.cs.fau.mad.quickshop.android.view.ListOfShoppingListsActivity"
            android:label="@string/title_activity_ListList" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="quickshop" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.cs.fau.mad.quickshop.android.view.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="de.cs.fau.mad.quickshop.android.view.ShoppingListDetailActivity"
            android:label="@string/title_activity_shopping_list_detail" >
        </activity>
        <activity
            android:name="de.cs.fau.mad.quickshop.android.view.ShoppingListActivity"
            android:label="@string/title_activity_ShoppingList" >
        </activity>

        <activity
            android:name="de.cs.fau.mad.quickshop.android.view.SettingActivity"
            android:label="@string/title_activity_ShoppingList" >
        </activity>
    </application>

</manifest>
