<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs.fau.mad.kwikshop_android" >

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.cs.fau.mad.kwikshop.android.view.ListOfShoppingListsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="kwikshop.is.nice" />
            </intent-filter>
        </activity>

        <activity
            android:name="de.cs.fau.mad.kwikshop.android.view.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="de.cs.fau.mad.kwikshop.android.view.ListOfShoppingListsActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.cs.fau.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name="de.cs.fau.mad.kwikshop.android.view.ShoppingListDetailActivity"
            android:label="@string/title_activity_shopping_list_detail"
            android:parentActivityName="de.cs.fau.mad.kwikshop.android.view.ListOfShoppingListsActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.cs.fau.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name="de.cs.fau.mad.kwikshop.android.view.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list"
            android:parentActivityName="de.cs.fau.mad.kwikshop.android.view.ListOfShoppingListsActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.cs.fau.mad.kwikshop.android.view.ListOfShoppingListsActivity" />

        </activity>

        <activity
            android:name="de.cs.fau.mad.kwikshop.android.view.SettingActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.cs.fau.mad.kwikshop.android.view.ListOfShoppingListsActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.cs.fau.mad.kwikshop.android.view.ListOfShoppingListsActivity" />

        </activity>
    </application>

</manifest>
