<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.fau.cs.mad.kwikshop.android" >

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Map integration -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <!-- Barcode scanner -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Google login -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_android_api_key" />

        <activity
            android:name=".view.ListOfShoppingListsActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/intent_host"
                    android:scheme="@string/intent_http" />
            </intent-filter>

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->


        </activity>
        <activity
            android:name=".view.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".view.ListOfShoppingListsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.ShoppingListDetailActivity"
            android:label="@string/title_activity_shopping_list_detail"
            android:parentActivityName=".view.ListOfShoppingListsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.ItemDetailsActivity"
            android:label="@string/title_activity_shopping_list_detail"
            android:parentActivityName=".view.ShoppingListActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ShoppingListActivity" />
        </activity>
        <!-- The next label got changed so opening the app from calendar shows Kwik Shop and not Shopping List as option name -->
        <activity
            android:name=".view.ShoppingListActivity"
            android:configChanges="screenSize|orientation"
            android:label="@string/app_name"
            android:parentActivityName=".view.ListOfShoppingListsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.SettingActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".view.ListOfShoppingListsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.ListOfRecipesActivity"
            android:label="@string/title_activity_list_of_recipes"
            android:parentActivityName=".view.ListOfShoppingListsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.RecipeDetailActivity"
            android:label="@string/title_activity_recipe_detail"
            android:parentActivityName=".view.ListOfShoppingListsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.RecipeActivity"
            android:label="@string/title_activity_recipe"
            android:parentActivityName=".view.ListOfShoppingListsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.RecipeItemDetailsActivity"
            android:label="@string/title_activity_recipe_item_details"
            android:parentActivityName=".view.ListOfShoppingListsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.LocationActivity"
            android:label="@string/supermarket_finder"
            android:parentActivityName=".view.ListOfShoppingListsActivity" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.ReminderActivity"
            android:label="@string/title_activity_reminder"
            android:parentActivityName=".view.ListOfShoppingListsActivity"
            android:windowSoftInputMode="stateHidden" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.fau.cs.mad.kwikshop.android.view.ListOfShoppingListsActivity" />
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".view.ServerIntegrationDebugActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".view.ErrorReportingActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name="de.fau.cs.mad.kwikshop.android.model.synchronization.background.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <service
            android:name="de.fau.cs.mad.kwikshop.android.model.synchronization.background.SyncService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>


    <provider
        android:name="de.fau.cs.mad.kwikshop.android.model.synchronization.background.StubContentProvider"
        android:authorities="de.fau.cs.mad.kwikshop.android.provider"
        android:label="Kwik Shop Sync"
        android:exported="false"
        android:syncable="true"/>


    </application>

</manifest>
